# -------------------------
# Observed data:
# -------------------------
Observed data file            :  ../field_data/TUC_GDS_data.txt

# -------------------------
# Common RJMCMC parameters:
# -------------------------
Minimum number of layers      :  2        # k_min, default = 2
Maximum number of layers      :  30       # k_max, default = 40
Minimum interface depth       :  0        # z_min, default = 0
Maximum interface depth       :  2000000  # z_max, default = z_cmb
Minimum log10 conductivity    :  -4       # default = -4
Maximum log10 conductivity    :  2        # default = 2
Bitrh probability             :  0.25     # default = 0.25, Bitrh+Death+Move+Update should be 1.0
Death probability             :  0.25     # default = 0.25
Move probability              :  0.25     # default = 0.25
Update probability            :  0.25     # default = 0.25
Number of mcmc iterations     :  2000000   # default = 500000
Print every iterations        :  1000     # default = 1000

# -------------------------
# Priori parameters:
# -------------------------
# Minimun layer thicknes        :  1000    # default = (z_max-z_min)/(2*k_max)
# 0-uniform distribution; 1-normal distribution with reference model constraint; 
# 2-normal distribution with smooth constraint, default = 2
Prior distribution type       :  2      
# Standard derivation for the difference in layer log10 conductivity
# smaller value will generate smoother models and thiner uncertainty
Smooth factor                 :  0.5

# -------------------------
# Proposal parameters:
# -------------------------
Birth/death pertubation       :  0.5      # Standard deviation of log10 conductivity for birth/death pertubation, default = (sigma_max-sigma_min)*0.1;
Update pertubation            :  0.5     # Standard deviation of log10 conductivity for update pertubation, default = (sigma_max-sigma_min)*0.15;
Move pertubation              :  50000   # Standard deviation of depth in m for move pertubation, default = (z_max-z_min)*0.1;

# -------------------------
# Post-processing:
# -------------------------
Burn in period                :  200000    # default = 10000
Thin samples                  :  100       # Keep one samples every thin samples, default = 10
Depth resolution              :  200      # Number of blocks in depth, the larger the higher depth resolution, default = 200
Conductivity resolution       :  100      # Number of blocks in conductivity, the larger the higher conductivity resolution, default = 100
Credibl interval              :  0.95     # default = 0.95
Coarse depth number           :  30       # Number of blocks in depth of coarse model, default = 40, only used when no model_interface_depth.txt
Write predicted responses     :  1        # 0: do not write responses; 1: only write responses of rank 0; 2: write responses of all processes, default=1
Write rms misfit              :  2        # 0: do not write rms; 1: only write rms of rank 0; 2: write rms of all processes, default=1
Output directory              :  output
Write model samples           :  1
